{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="jumbotron">
    <h2 class="jumbotron-title">About Us</h2>
    <hr class="jumbotron-divider">
    <h3 class="group-title">Group BWK1A1</h3>
    <p class="jumbotron-text">
        We are a dedicated team of students from KU Leuven, Belgium, specializing in engineering sciences. This website was developed as part of a project for the BWK (Department of Civil Engineering), where we were tasked with building a system for accurate flood predictions in Belgium. While we started with minimal knowledge about flood prediction, through collaboration and research, we developed a sophisticated model capable of analyzing weather patterns and providing early warnings.
        <br><br>
        Our goal is to contribute to a safer future by leveraging technology to help communities prepare for and mitigate the impacts of flooding. Through this project, we not only deepened our understanding of hydrology and data science but also honed our teamwork skills, which are crucial as we embark on our careers in civil engineering.
    </p>
    <br>
    <div class="row">
        <div class="col-md-6 col-12 nopadding">
            {% for member in [
                {"name": "Manon Annet", "role": "Machine Learning Engineer", "project_role": "Plant, Team worker", "img": "manon.png"},
                {"name": "Toon Bervoets", "role": "Full Stack Web Developer", "project_role": "Monitor Evaluator, Resource Investigator", "img": "toon.png"},
                {"name": "Isabelle Boogaerts", "role": "Algorithm Engineer", "project_role": "Implementer, Completer Finisher", "img": "isabelle.png"}
            ] %}
            <div class="team-member">
                <img src="{{ url_for('static', filename='/img/' + member.img) }}"/>
                <div class="col nopadding">
                    <h3>{{ member.name }}</h3>
                    <h6 class="role">{{ member.role }}</h6>
                    <h6 class="project-role">{{ member.project_role }}</h6>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-md-6 col-12 nopadding">
            {% for member in [
                {"name": "Lauranne Brouwers", "role": "Machine Learning Engineer", "project_role": "Shaper, Coordinator", "img": "lauranne.png"},
                {"name": "Doran De Gersem", "role": "Machine Learning Engineer", "project_role": "Plant, Specialist", "img": "doran.png"},
                {"name": "Mil Fonteyn", "role": "Algorithm Engineer", "project_role": "Specialist, Implementer", "img": "mil.png"}
            ] %}
            <div class="team-member">
                <img src="{{ url_for('static', filename='/img/' + member.img) }}" />
                <div class="col nopadding">
                    <h3>{{ member.name }}</h3>
                    <h6 class="role">{{ member.role }}</h6>
                    <h6 class="project-role">{{ member.project_role }}</h6>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
