{% extends 'base.html' %}

{% block title %}Flood Predict - Demo{% endblock %}

{% block content %}
<div class="container text-center">
    <!-- Embed the map -->
    <iframe src="/map" id="mapIframe" width="1000" height="600" frameborder="2"></iframe>

    <!-- Searchbox under the map -->
    <div id="search-container" style="margin-top: 20px;">
        <input type="text" id="search-box" placeholder="Search..." class="form-control"
            style="display: inline-block; width: 300px; margin-right: 10px;" />
        <button id="search-button" class="btn btn-primary">Search</button>
    </div>

    <!-- Optional: Button for weather check -->
    <a href="/weather_search" class="btn btn-primary btn-spacing" style="margin-top: 20px;">Check the Weather</a>
</div>

<script src="{{url_for('static', filename='scripts/floodpredict.js')}}"></script>   

{% endblock %}
