{% extends 'base.html' %}

{% block title %}{{ title }} Weather{% endblock %}

{% block content %}
    <h1 class="weather-info">
        <img src="{{ weather_icon_url }}" alt="Weather Icon" class="weather-icon" />
        {{ title }} Weather
    </h1>
    <p>{{ status }} and {{ temp }} &deg;C;</p>
    <p>Feels like {{ feels_like }} &deg;C;</p>
    <p>Local time: {{ local_time }}</p>

    <form class="weather-form" action="/weather" method="get">
        <input type="text" name="city" id="city" placeholder="Enter a City" />
        <button type="submit">Submit</button>
    </form>
{% endblock %}
